@charset "UTF-8";

.mdl-button,
.mdl-checkbox {
  vertical-align: middle;
}

html {
  color: rgba(0,0,0,.87);
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

body,
html {
  width: 100%;
}

.mdl-button,
.mdl-card,
.mdl-checkbox,
a {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
}

html {
  height: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

body {
  min-height: 100%;
}

main {
  display: block;
}

body,
html {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

h2,
h4,
p {
  margin: 0;
  padding: 0;
}

h2 {
  margin-bottom: 24px;
  font-weight: 400;
}

h2,
h4 {
  margin-top: 24px;
  font-family: Roboto,Helvetica,Arial,sans-serif;
}

h2 {
  font-size: 45px;
  line-height: 48px;
}

h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  -moz-osx-font-smoothing: grayscale;
  margin-bottom: 16px;
}

p {
  font-weight: 400;
  margin-bottom: 16px;
  line-height: 24px;
}

p {
  font-size: 14px;
  letter-spacing: 0;
}

a {
  color: #ff4081;
  font-weight: 500;
}

.mdl-button {
  font-family: Roboto,Helvetica,Arial,sans-serif;
}

.mdl-color--grey-100 {
  background-color: #f5f5f5!important;
}

.mdl-color-text--grey-700 {
  color: #616161!important;
}

.mdl-color-text--white {
  color: #fff!important;
}

.mdl-button {
  background: 0 0;
  border: none;
  border-radius: 2px;
  color: #000;
  position: relative;
  height: 36px;
  margin: 0;
  min-width: 64px;
  padding: 0 16px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0;
  overflow: hidden;
  will-change: box-shadow;
  transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
  outline: 0;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 36px;
}

.mdl-button::-moz-focus-inner {
  border: 0;
}

.mdl-card {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 16px;
  font-weight: 400;
  min-height: 200px;
  overflow: hidden;
  width: 330px;
  z-index: 1;
  position: relative;
  background: #fff;
  border-radius: 2px;
  box-sizing: border-box;
}

.mdl-card__title {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
  display: block;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  line-height: normal;
  padding: 16px;
  -webkit-perspective-origin: 165px 56px;
  perspective-origin: 165px 56px;
  -webkit-transform-origin: 165px 56px;
  transform-origin: 165px 56px;
  box-sizing: border-box;
}

.mdl-card__title-text {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  color: inherit;
  display: block;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  overflow: hidden;
  -webkit-transform-origin: 149px 48px;
  transform-origin: 149px 48px;
  margin: 0;
}

.mdl-card__supporting-text {
  color: rgba(0,0,0,.54);
  font-size: 1rem;
  line-height: 18px;
  overflow: hidden;
  padding: 16px;
  width: 90%;
}

.mdl-card__actions,
.mdl-checkbox {
  box-sizing: border-box;
  width: 100%;
}

.mdl-card__actions {
  font-size: 16px;
  line-height: normal;
  background-color: transparent;
  padding: 8px;
}

.mdl-checkbox {
  position: relative;
  z-index: 1;
  display: inline-block;
  height: 24px;
  margin: 0;
  padding: 0;
}

.mdl-checkbox__input {
  line-height: 24px;
}

.mdl-checkbox__label {
  position: relative;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.mdl-layout__drawer,
.mdl-layout__header {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.mdl-grid {
  -webkit-flex-flow: row wrap;
}

.mdl-mega-footer__heading-checkbox {
  position: absolute;
  width: 100%;
  height: 55.8px;
  padding: 32px;
  margin: -16px 0 0;
  cursor: pointer;
  z-index: 1;
  opacity: 0;
}

.mdl-layout-title {
  font-family: Roboto,Helvetica,Arial,sans-serif;
  box-sizing: border-box;
}

@media screen and (min-width:760px) {
  .mdl-mega-footer__heading-checkbox {
    display: none;
  }
}

.mdl-layout__drawer {
  will-change: transform;
}

.mdl-navigation__link {
  font-size: 14px;
  letter-spacing: 0;
  font-weight: 400;
}

.mdl-layout__drawer,
.mdl-layout__header {
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.mdl-navigation {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  box-sizing: border-box;
}

.mdl-navigation__link {
  color: #424242;
  text-decoration: none;
  margin: 0;
  line-height: 24px;
  opacity: .87;
}

.mdl-layout {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  -webkit-overflow-scrolling: touch;
}

.mdl-layout-title {
  display: block;
  position: relative;
  font-size: 20px;
  line-height: 1;
  letter-spacing: .02em;
  font-weight: 400;
}

.mdl-layout-spacer {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.mdl-layout__drawer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 240px;
  height: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border-right: 1px solid #e0e0e0;
  background: #fafafa;
  -webkit-transform: translateX(-250px);
  transform: translateX(-250px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform,-webkit-transform;
  color: #424242;
  overflow: visible;
  overflow-y: auto;
  z-index: 5;
}

.mdl-layout__drawer>* {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.mdl-layout__drawer .mdl-navigation {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  -ms-grid-row-align: stretch;
  align-items: stretch;
  padding-top: 16px;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  display: block;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 16px 40px;
  margin: 0;
  color: #757575;
}

@media screen and (max-width:1024px) {
  .mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    padding: 16px;
  }
}

.mdl-layout__header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  box-sizing: border-box;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  min-height: 64px;
  max-height: 1000px;
  z-index: 3;
  background-color: #3f51b5;
  color: #fff;
  transition-property: max-height,box-shadow;
}

@media screen and (max-width:1024px) {
  .mdl-layout__header {
    min-height: 56px;
    display: none;
  }

  .mdl-layout--fixed-header>.mdl-layout__header {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.mdl-layout__header-row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  box-sizing: border-box;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 64px;
  margin: 0;
  padding: 0 40px 0 80px;
}

@media screen and (max-width:1024px) {
  .mdl-layout__header-row {
    height: 56px;
    padding: 0 16px 0 72px;
  }
}

.mdl-layout__header-row>* {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.mdl-layout__header-row .mdl-navigation {
  margin: 0;
  padding: 0;
  height: 64px;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
}

.mdl-layout__header-row .mdl-navigation__link {
  display: block;
  color: #fff;
  line-height: 64px;
  padding: 0 24px;
}

@media screen and (max-width:1024px) {
  .mdl-layout__header-row .mdl-navigation {
    height: 56px;
  }

  .mdl-layout__header-row .mdl-navigation__link {
    line-height: 56px;
    padding: 0 16px;
  }
}

.mdl-layout__content {
  -ms-flex: 0 1 auto;
  position: relative;
  display: inline-block;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
}

.mdl-layout__tab-panel {
  display: block;
}

.mdl-shadow--2dp {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}

.mdl-demo .mdl-card,
.mdl-grid {
  display: -webkit-flex;
  display: -ms-flexbox;
}

.mdl-grid {
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin: 0 auto;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.mdl-grid.mdl-grid--no-spacing {
  padding: 0;
}

.mdl-cell {
  box-sizing: border-box;
}

.mdl-grid.mdl-grid--no-spacing>.mdl-cell {
  margin: 0;
}

@media (max-width:479px) {
  .mdl-grid {
    padding: 8px;
  }

  .mdl-cell {
    margin: 8px;
    width: calc(100% - 16px);
  }

  .mdl-grid--no-spacing>.mdl-cell {
    width: 100%;
  }

  .mdl-cell--4-col-phone.mdl-cell--4-col-phone {
    width: calc(100% - 16px);
  }

  .mdl-grid--no-spacing>.mdl-cell--4-col-phone.mdl-cell--4-col-phone {
    width: 100%;
  }
}

@media (min-width:480px) and (max-width:839px) {
  .mdl-grid {
    padding: 8px;
  }

  .mdl-cell {
    margin: 8px;
    width: calc(50% - 16px);
  }

  .mdl-grid--no-spacing>.mdl-cell {
    width: 50%;
  }

  .mdl-cell--2-col-tablet.mdl-cell--2-col-tablet {
    width: calc(25% - 16px);
  }

  .mdl-grid--no-spacing>.mdl-cell--2-col-tablet.mdl-cell--2-col-tablet {
    width: 25%;
  }

  .mdl-cell--6-col-tablet.mdl-cell--6-col-tablet {
    width: calc(75% - 16px);
  }

  .mdl-grid--no-spacing>.mdl-cell--6-col-tablet.mdl-cell--6-col-tablet {
    width: 75%;
  }
}

@media (min-width:840px) {
  .mdl-grid {
    padding: 8px;
  }

  .mdl-cell {
    margin: 8px;
    width: calc(33.3333333333% - 16px);
  }

  .mdl-grid--no-spacing>.mdl-cell {
    width: 33.3333333333%;
  }

  .mdl-cell--3-col-desktop.mdl-cell--3-col-desktop {
    width: calc(25% - 16px);
  }

  .mdl-grid--no-spacing>.mdl-cell--3-col-desktop.mdl-cell--3-col-desktop {
    width: 25%;
  }

  .mdl-cell--9-col-desktop.mdl-cell--9-col-desktop {
    width: calc(75% - 16px);
  }

  .mdl-grid--no-spacing>.mdl-cell--9-col-desktop.mdl-cell--9-col-desktop {
    width: 75%;
  }
}

.image_post_link {
  text-decoration: none;
}

body,
html {
  font-family: Roboto,Helvetica,sans-serif;
  margin: 0;
  padding: 0;
}

.mdl-demo .mdl-layout__header-row {
  padding-left: 40px;
}

.mdl-demo main>.mdl-layout__tab-panel {
  padding: 48px 8px 8px;
}

.mdl-demo .mdl-card {
  height: auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.mdl-demo section>header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}

.mdl-demo .mdl-card>* {
  height: auto;
}

.mdl-demo .mdl-card .mdl-card__supporting-text {
  margin: 40px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0;
  color: inherit;
  width: calc(100% - 80px);
}

.mdl-demo.mdl-demo .mdl-card__supporting-text h4 {
  margin-top: 0;
  margin-bottom: 20px;
}

.mdl-demo .mdl-card__actions {
  margin: 0;
  padding: 4px 40px;
  color: inherit;
}

.mdl-demo .mdl-card__actions a {
  color: #00BCD4;
  margin: 0;
  left: -32px;
}

.mdl-demo .mdl-card__supporting-text+.mdl-card__actions {
  border-top: 1px solid rgba(0,0,0,.12);
}

.mdl-demo .mdl-layout__content section:not(:last-of-type) {
  position: relative;
  margin-bottom: 48px;
}

.mdl-demo section.section--center {
  max-width: 860px;
}

.mdl-demo section>header {
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mdl-demo section>.section__play-btn {
  min-height: 200px;
}

.home_sections {
  margin-bottom: 16px!important;
}

.image_post_link {
  align-self: stretch;
  flex-grow: 1;
}

.section__play-btn {
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #c6cceb;
}

.post_date {
  font-size: 13px;
  margin-left: 10px;
  color: gray;
}

.blog-drawer>.mdl-card__title {
  color: #fff;
  height: 128px;
  background: #c6cceb;
}

.blog-notif-switch {
  margin-left: 12px;
}