.game-canvas {
  width: 100%;
  height: 50vh;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

#game-spinner {
  margin: auto;
  height: 56px;
  width: 56px;
}

#spinner-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background: rgba(1,1,1,0.5);
  display: flex;
}

#bottom-tabs {
  max-height: 50vh;
  display: flex;
  flex-direction: column;
}

#bottom-tabs .mdl-tabs__panel {
  overflow: scroll;
}

#bottom-tabs .mdl-list {
  max-width: 350px;
  margin: auto;
}
#bottom-tabs .mdl-list__item {
  padding: 3px;
}

#bottom-tabs .mdl-tabs__tab-bar {
  min-height: 48px;
}

#button_option {
  position: absolute;
  top: 0;
  background: rgba(200,200,200,.6);
  margin: 4px;
}

/* Power tab */
/*.power-list-action {
  max-width: 350px;
  margin: auto;
}

.power-list-action .mdl-list__item {
  padding: 3px;
}*/

.power-list-action .upg {
  margin-right: 6px;
}

.musicians-list-action .mdl-button {
  line-height: normal;
}

/* Option menu */
.option-list-action {
  max-width: 350px;
  margin: auto;
}

.option-list-action .mdl-list__item {
  padding: 3px;
  overflow: visible;
}

.option-list-action .mdl-switch {
  margin: 5px;
}

.option-list-action .upg {
  margin-right: 6px;
}

/* Login menu */
#modal-login {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}

#money {
    position: absolute;
    top: 8px;
    left: 50%;
    transform: translate(-50%, 0%);
    cursor: default;
    pointer-events: none;
}

#money_amount {
  display: inline;
  font-size: 2em;
  color: limegreen;
}
#money_unit {
  display: inline;
  font-size: 2.2em;
  color: yellow;
}
