---
layout: game
custom_css: ['game/game.css']
---

<canvas class="game-canvas" id="glcanvas" touch-action="none">
  Your browser doesn't appear to support the 
  <code>&lt;canvas&gt;</code> element.
</canvas>

<button id="button_option" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect">
  <i class="material-icons">settings</i>
</button>

<div id="money" class="noselect">
  <div id="money_amount">100</div>
  <div id="money_unit">$</div>
</div>

<div id="bottom-tabs" class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
    <a href="#powers" class="mdl-tabs__tab is-active">Powers</a>
    <a href="#musicians" class="mdl-tabs__tab">Musicians</a>
    <a href="#jokers" class="mdl-tabs__tab">Jokers</a>
  </div>
  <div class="mdl-tabs__panel is-active" id="powers">
    {% include_relative power.html %}
  </div>
  <div class="mdl-tabs__panel" id="musicians">
    {% include_relative musicians.html %}
  </div>
  <div class="mdl-tabs__panel" id="jokers">
    lili
  </div>
</div>

<dialog class="mdl-dialog" id="modal-option">
  {% include_relative option_menu.html %}
</dialog>

<dialog class="mdl-dialog" id="modal-login">
  {% include_relative login_menu.html %}
</dialog>

<script type="text/javascript" src="/scripts/glMatrix-2.3.2.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js"></script>
<script src="https://code.jquery.com/pep/0.4.1/pep.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBKKsD6yJWKlApefX-ii-RlQ0ccnz4oSis",
    authDomain: "lirtition.firebaseapp.com",
    databaseURL: "https://lirtition.firebaseio.com",
    storageBucket: "lirtition.appspot.com",
  };
  firebase.initializeApp(config);
</script>

<script id="shader-fs" type="x-shader/x-fragment">
  precision mediump float;

  void main(void) {
    gl_FragColor = vec4(1.0, 1.0, 1.0, 1.0);
  }
</script>

<script id="shader-vs" type="x-shader/x-vertex">
  attribute vec3 aVertexPosition;

  uniform mat4 uMVMatrix;
  uniform mat4 uPMatrix;

  void main(void) {
    gl_Position = uPMatrix * uMVMatrix * vec4(aVertexPosition, 1.0);
  }
</script>

<script type="text/javascript">

  var gl;

  /* ------ START Game play var ------ */
  var money = 0;
  /* ------ END Game play var ------ */

  function initWebGL(canvas) {
    var res = null;
    
    try {
      // Try to grab the standard context. If it fails, fallback to experimental.
      res = canvas.getContext("webgl") || canvas.getContext("experimental-webgl");
    }
    catch(e) {}
    
    // If we don't have a GL context, give up now
    if (!res) {
      alert("Unable to initialize WebGL. Your browser may not support it.");
      res = null;
    }
    
    return res;
  }

  function loadGameData() {
    var user = firebase.auth().currentUser;
    var uid = user.uid;
    console.log("User uid: " + uid);

    firebase.database().ref('/' + uid + '/game/').on('value', function(snapshot) {
      console.log("money: " + snapshot.val().money);
      if(snapshot.val().money > money) {
        money = snapshot.val().money;
        moneyTF.innerHTML = money; 
      }
    });
  }

  function addMoney(amount) {
    money+=amount;
    moneyTF.innerHTML = money; 

    var user = firebase.auth().currentUser;
    var uid = user.uid;
    firebase.database().ref('/' + uid + '/game/').set({
      money: money
    });
  }

  function start() {

    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        // User is signed in.
        console.log("User is signed in");
        loadGameData();
      } else {
        // No user is signed in.
        console.log("User is NOT signed in");
        
        loginDialog.showModal();
      }
    });

    var canvas = document.getElementById("glcanvas");

    // Initialize the GL context
    gl = initWebGL(canvas);
    
    // Only continue if WebGL is available and working
    
    if (gl) {
      // Set clear color to black, fully opaque
      gl.clearColor(0.3, 0.3, 0.3, 1.0);
      // Enable depth testing
      gl.enable(gl.DEPTH_TEST);
      // Near things obscure far things
      gl.depthFunc(gl.LEQUAL);
      // Clear the color as well as the depth buffer.
      gl.clear(gl.COLOR_BUFFER_BIT | gl.DEPTH_BUFFER_BIT);
    }
  }

  /* ------ START login modal ------ */
  var loginDialog = document.querySelector('#modal-login');
  var googleButton = document.querySelector('#button_google');
  var anonButton = document.querySelector('#button_anon');
  googleButton.addEventListener('click', function(evt) {
    var provider = new firebase.auth.GoogleAuthProvider();
    firebase.auth().signInWithRedirect(provider).then(function(result) {
      // This gives you a Google Access Token. You can use it to access the Google API.
      var token = result.credential.accessToken;
      // The signed-in user info.
      var user = result.user;
      // ...
      loginDialog.close();
    }).catch(function(error) {
      // Handle Errors here.
      var errorCode = error.code;
      var errorMessage = error.message;
      // The email of the user's account used.
      var email = error.email;
      // The firebase.auth.AuthCredential type that was used.
      var credential = error.credential;
      // ...
    });
  });
  anonButton.addEventListener('click', function(evt) {
    firebase.auth().signInAnonymously().then(function(result) {
      loginDialog.close();
    }).catch(function(error) {
      // Handle Errors here.
      var errorCode = error.code;
      var errorMessage = error.message;
      // ...
    });
  });
  /* ------ END login modal ------ */

  /* ------ START option menu ------ */
  var optionDialog = document.querySelector('#modal-option');
  var closeButton = optionDialog.querySelector('#button_close');
  var accountDetailsButton = optionDialog.querySelector('#button_account');
  var optionButton = document.querySelector('#button_option');
  /*if (! dialog.showModal) {
      dialogPolyfill.registerDialog(dialog);
  }*/
  accountDetailsButton.addEventListener('click', function(event) {
      loginDialog.showModal();
  });
  optionButton.addEventListener('click', function(event) {
      optionDialog.showModal();
  });
  closeButton.addEventListener('click', function(event) {
      optionDialog.close();
  });
  /* ------ END option menu ------ */

  var moneyTF = document.getElementById("money_amount");
  var canvas = document.getElementById("glcanvas");
  canvas.addEventListener( "pointerdown", function( e ) {
    console.log("pointerdown");
    addMoney(1);
  } );

  window.onload = start;

</script>

