---
layout: game
custom_css: ['game/game.css']
---

<canvas class="game-canvas" id="glcanvas" touch-action="none">
  Your browser doesn't appear to support the 
  <code>&lt;canvas&gt;</code> element.
</canvas>

<button id="button_option" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect">
  <i class="material-icons">settings</i>
</button>

<div id="money" class="noselect">
  <div id="money_amount">0</div>
  <div id="money_unit">$</div>
</div>

<div id="bottom-tabs" class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
    <!--a href="#powers" class="mdl-tabs__tab">Powers</a-->
    <a href="#musicians" class="mdl-tabs__tab is-active">Musicians</a>
    <!--a href="#jokers" class="mdl-tabs__tab">Jokers</a-->
  </div>
  <!--div class="mdl-tabs__panel" id="powers">
    { include_relative power.html }
  </div-->
  <div class="mdl-tabs__panel is-active" id="musicians">
    {% include_relative musicians.html %}
  </div>
  <!-- div class="mdl-tabs__panel" id="jokers">
    lili
  </div-->
</div>

<div id="spinner-background">
  <div id="game-spinner" class="mdl-spinner mdl-js-spinner is-active"></div>
</div>

<dialog class="mdl-dialog" id="modal-option">
  {% include_relative option_menu.html %}
</dialog>

<dialog class="mdl-dialog" id="modal-login">
  {% include_relative login_menu.html %}
</dialog>

<script type="text/javascript" src="/scripts/glMatrix-2.3.2.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.1.0/firebase.js"></script>
<script src="https://code.jquery.com/pep/0.4.1/pep.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBKKsD6yJWKlApefX-ii-RlQ0ccnz4oSis",
    authDomain: "lirtition.firebaseapp.com",
    databaseURL: "https://lirtition.firebaseio.com",
    storageBucket: "lirtition.appspot.com",
  };
  firebase.initializeApp(config);
</script>

<script id="shader-fs" type="x-shader/x-fragment">
  precision mediump float;

  void main(void) {
    gl_FragColor = vec4(1.0, 1.0, 1.0, 1.0);
  }
</script>

<script id="shader-vs" type="x-shader/x-vertex">
  attribute vec3 aVertexPosition;

  uniform mat4 uMVMatrix;
  uniform mat4 uPMatrix;

  void main(void) {
    gl_Position = uPMatrix * uMVMatrix * vec4(aVertexPosition, 1.0);
  }
</script>

<script type="text/javascript">


  /* ------ START Global var ------ */
  var gl;
  var canvas;
  var money = 0;
  var moneyTF;
  var cbs;
  var loginDialog;
  var optionDialog;
  var uid = undefined;
  var musicians = [];
  var musiciansLvlTF = [];
  /* ------ END Global var ------ */

  var MusicianEnum = {
    PIANO: 0,
    VIOLIN: 1,
    CELLO: 2,
    TRIANGLE: 3,
    TAMBOUR: 4,
    BASS: 5,
    FRENCH_HORN: 6,
    SIZE: 7,
    properties: {
      0: {name: "piano"},
      1: {name: "violin"},
      2: {name: "cello"},
      3: {name: "triangle"},
      4: {name: "tambour"},
      5: {name: "bass"},
      6: {name: "french_horn"},
    }
  };


  function initWebGL(canvas) {
    var res = null;
    
    try {
      // Try to grab the standard context. If it fails, fallback to experimental.
      res = canvas.getContext("webgl") || canvas.getContext("experimental-webgl");
    }
    catch(e) {}
    
    // If we don't have a GL context, give up now
    if (!res) {
      alert("Unable to initialize WebGL. Your browser may not support it.");
      res = null;
    }
    
    return res;
  }

  function loadGameData() {
    var user = firebase.auth().currentUser;
    uid = user.uid;
    console.log("User uid: " + uid);

    for(var i = 0 ; i < MusicianEnum.SIZE ; i++) {
      musicians[i] = 0;
    }

    var isMoneyLoaded = false;
    var isMusiciansLoaded = false;

    /* ---------------- INITIALISATION LISTENERS --------------------- */
    firebase.database().ref('/' + uid + '/game/money/').once('value', function(snapshot) {
      isMoneyLoaded = true;
      if(isMoneyLoaded && isMusiciansLoaded)
        loadingScreen(false, false); // Remove loading screen

      if(snapshot.val() > money) {
        money = snapshot.val();
        moneyTF.innerHTML = money; 
      }
    });

    firebase.database().ref('/' + uid + '/game/musicians/').once('value', function(snapshot) {
      isMusiciansLoaded = true;
      if(isMoneyLoaded && isMusiciansLoaded)
        loadingScreen(false, false); // Remove loading screen

      snapshot.forEach(function(childSnapshot) {
        var instID = parseInt(childSnapshot.key);
        console.log("childSnapshot.key: " + instID);
        musicians[instID] = parseInt(childSnapshot.val().lvl);
        musiciansLvlTF[instID].innerHTML = "Lvl " + musicians[instID];
      });
    });

    /* ---------------- CONTINOUS LISTENERS --------------------- */

    listeners = firebase.database().ref('/' + uid + '/game/money').on('value', function(snapshot) {
      if(snapshot.val() >= money) {
        money = snapshot.val();
        moneyTF.innerHTML = money; 
      }
    });

    firebase.database().ref('/' + uid + '/game/musicians/').on('child_changed'
      , function(snapshot) {
        //console.log("iiii: " + snapshot.params.ID);
        console.log("dddddd:" + snapshot.key);
        console.log("dddddd:" + snapshot.val().lvl);

        musiciansLvlTF[parseInt(snapshot.key)].innerHTML = "Lvl " + snapshot.val().lvl;
    });
  }

  function unloadGameData() {
    var isLoaded = false;

    money = 0;
    moneyTF.innerHTML = 0;

    firebase.database().ref('/' + uid + '/game/').off('value', cbs);

    uid = undefined;
  }

  function addMoney(amount) {
    money+=amount;
    // Displayed amount will be updated automatically in the firebase "on" listener

    firebase.database().ref('/' + uid + '/game/money').transaction(
      function(currentData){
        console.log("transactionUpdate: " + currentData);
        return currentData+1;
      },
      function(error, commmited, snapshot) {
        console.log("onComplete(" + commmited + ", " + snapshot.val());
      },
      true);
    /*firebase.database().ref('/' + uid + '/game/').update({
      money: money
    });*/
  }

  function upgradeMusician(musician) {
    console.log("upgradeMusician [" + musician + "]")
    console.log("name: " + MusicianEnum.properties[musician].name);
    musicians[musician] += 1;

    firebase.database().ref('/' + uid + '/game/musicians/' + musician + "/").update({
      lvl: musicians[musician]
    });

    musiciansLvlTF[musician].innerHTML = "Lvl " + musicians[musician];
  }

  function loadingScreen(background, spinner) {
    if(background) {
      document.getElementById("spinner-background").style.display = "flex";
    } else {
      document.getElementById("spinner-background").style.display = "none";
    }

    if(spinner) {
      document.getElementById("game-spinner").className += " is-active";
    } else {
      document.getElementById("game-spinner").className =
        document.getElementById("game-spinner").className.replace(/\bis-active\b/,'');
    }
  }

  function showLoginModal(show) {
    var sub_menu_not_signed = document.getElementById("not-signed");
    var sub_menu_google_signed = document.getElementById("google-signed");
    var sub_menu_anon_signed = document.getElementById("anon-signed");
    var signed_buttons = document.getElementById("signed-buttons");

    if(show) {
      var user = firebase.auth().currentUser;
      if(user != null) {
        // var name = user.displayName;
        // var email = user.email;
        // var photoUrl = user.photoURL;
        // var uid = user.uid;
        console.log("length: " + user.providerData.length);
        var googleEmail = undefined;
        user.providerData.forEach(function (profile) {
          if(profile.providerId == "google.com") {
            googleEmail = profile.email;
          }
        });
        if(googleEmail != undefined) {
          document.getElementById("google-email").innerHTML = googleEmail;
          sub_menu_not_signed.style.display = "none";
          sub_menu_google_signed.style.display = "block";
          sub_menu_anon_signed.style.display = "none";
        } else {
          sub_menu_not_signed.style.display = "none";
          sub_menu_google_signed.style.display = "none";
          sub_menu_anon_signed.style.display = "block";
        }
        signed_buttons.style.display = "block";
      } else {
        // User is null, we ask to sign:
        sub_menu_not_signed.style.display = "block";
        sub_menu_google_signed.style.display = "none";
        sub_menu_anon_signed.style.display = "none";
        signed_buttons.style.display = "none";
      }
      loginDialog.showModal();
    } else {
      loginDialog.close();
    }
  }

  function start() {

    loadingScreen(true, true);

    firebase.auth().onAuthStateChanged(function(user) {
      if (user) {
        // User is signed in.
        console.log("User is signed in");
        loadGameData();
        showLoginModal(false);
      } else {
        // No user is signed in.
        console.log("User is NOT signed in");
        loadingScreen(true, false); // Remove spinner but keep the dark overlay
        showLoginModal(true);
      }
    });

    canvas = document.getElementById("glcanvas");
    canvas.addEventListener( "pointerdown", function( e ) {
      console.log("pointerdown");
      addMoney(1);
    });
    // Initialize the GL context
    gl = initWebGL(canvas);
    
    // Only continue if WebGL is available and working
    if (gl) {
      // Set clear color to black, fully opaque
      gl.clearColor(0.3, 0.3, 0.3, 1.0);
      // Enable depth testing
      gl.enable(gl.DEPTH_TEST);
      // Near things obscure far things
      gl.depthFunc(gl.LEQUAL);
      // Clear the color as well as the depth buffer.
      gl.clear(gl.COLOR_BUFFER_BIT | gl.DEPTH_BUFFER_BIT);
    }
  }

  /* ------ START login modal ------ */
  loginDialog = document.querySelector('#modal-login');
  
  loginDialog.querySelector('#button_google').addEventListener('click', function(evt) {
    var provider = new firebase.auth.GoogleAuthProvider();
    firebase.auth().signInWithRedirect(provider).then(function(result) {
      // This gives you a Google Access Token. You can use it to access the Google API.
      var token = result.credential.accessToken;
      // The signed-in user info.
      var user = result.user;
      // ...
      showLoginModal(false);
    }).catch(function(error) {
      // Handle Errors here.
      var errorCode = error.code;
      var errorMessage = error.message;
      // The email of the user's account used.
      var email = error.email;
      // The firebase.auth.AuthCredential type that was used.
      var credential = error.credential;
      // ...
    });
  });

  loginDialog.querySelector('#button_anon').addEventListener('click', function(evt) {
    firebase.auth().signInAnonymously().then(function(result) {
      showLoginModal(false);
    }).catch(function(error) {
      // Handle Errors here.
      var errorCode = error.code;
      var errorMessage = error.message;
      // ...
    });
  });

  loginDialog.querySelector('.button_close').addEventListener('click', function(evt) {
    showLoginModal(false);
  });

  loginDialog.querySelector('.button_logout').addEventListener('click', function(evt) {
    firebase.auth().signOut().then(function() {
      showLoginModal(false);
      optionDialog.close();
      unloadGameData();
      loadingScreen(true, false);
      showLoginModal(true);
    });
  });

  /* ------ END login modal ------ */

  /* ------ START option menu ------ */
  optionDialog = document.querySelector('#modal-option');
  /*if (! dialog.showModal) {
      dialogPolyfill.registerDialog(dialog);
  }*/
  optionDialog.querySelector('#button_account').addEventListener('click', function(event) {
    showLoginModal(true);
  });
  document.querySelector('#button_option').addEventListener('click', function(event) {
    optionDialog.showModal();
  });
  optionDialog.querySelector('#button_close').addEventListener('click', function(event) {
    optionDialog.close();
  });
  /* ------ END option menu ------ */

  /* ------ START musicians tab ------ */
  /*var pianoElt = document.querySelector('#piano');
  pianoElt.querySelector('.upgrade-button').addEventListener('click', function(event) {
    upgradeMusician(MusicianEnum.PIANO);
  });*/
  for(var i = 0 ; i < MusicianEnum.SIZE ; i++)
  {
    (function(ii) {
      var elt = document.getElementById(MusicianEnum.properties[ii].name);
      musiciansLvlTF[ii] = elt.getElementsByClassName('instrument-lvl')[0];
      elt.getElementsByClassName('upgrade-button')[0].addEventListener('click', function(event) {
        upgradeMusician(ii);
      });
    })(i);
  }
  /* ------ END musicians tab ------ */

  moneyTF = document.getElementById("money_amount");

  window.onload = start;

</script>

