<!-- Always shows a header, even in smaller screens. -->

  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      
      <a href="{{ site.baseurl }}/" class="mdl-navigation__link site_title"><span class="mdl-layout-title" >{{ site.title }}</span></a>
      
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="{{ site.baseurl }}/about/">About</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer blog-drawer">
    <div class="mdl-card__title"><h2 class="mdl-card__title-text">{{ site.title }}</h2></div>
    <!--button data-rv-vanilla-modal="#target-modal" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored blog-button-login">
      <i class="material-icons">add</i>
    </button-->
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="{{ site.baseurl }}">Home</a>
      <a class="mdl-navigation__link" href="{{ site.baseurl }}/about/">About</a>
      <label id="switch-notif" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect blog-notif-switch" for="switch-notif-input">
        <input type="checkbox" id="switch-notif-input" class="mdl-checkbox__input" disabled>
        <span class="mdl-checkbox__label">Notifications</span>
      </label>
      <!--label id="switch-notif" class="mdl-switch mdl-js-switch mdl-js-ripple-effect blog-notif-switch" for="switch-notif-input">
        <input id="switch-notif-input" type="checkbox"  class="mdl-switch__input">
        <span id="switch-notif-label" class="mdl-switch__label">Notifications</span>
      </label-->
    </nav>
  </div>
  