<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  
  <servlet>
    <servlet-name>Push_servlet</servlet-name>
    <servlet-class>io.github.whiteseeker.PushServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Push_servlet</servlet-name>
    <url-pattern>/push</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Push_worker</servlet-name>
    <servlet-class>io.github.whiteseeker.PushWorker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Push_worker</servlet-name>
    <url-pattern>/pushworker</url-pattern>
  </servlet-mapping>

  <security-constraint>
    <web-resource-collection>
      <web-resource-name>admin</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>

  <welcome-file-list>
      <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
</web-app>
