<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      {% include header.html %}

      <main class="mdl-layout__content">
        
        {{ content }}

        {% include footer.html %}
      </main>
      </div>

      <!-- Core JS file -->
    <script src="/css/photoswipe/photoswipe.min.js"></script> 
    <!-- UI JS file -->
    <script src="/css/photoswipe/photoswipe-ui-default.min.js"></script> 

    <script src="/css/material.min.js"></script>
  </body>

</html>
