<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      {% include header.html %}

      <main class="mdl-layout__content">
        
        {{ content }}

        {% include footer.html %}
      </main>
      </div>


    <script type="text/javascript">
    function downloadJSAtOnload() {
    var element = document.createElement("script");
    element.src = "/css/photoswipe/photoswipe.min.js";
    document.body.appendChild(element);
    element = document.createElement("script");
    element.src = "/css/photoswipe/photoswipe-ui-default.min.js";
    document.body.appendChild(element);
    }
    if (window.addEventListener)
    window.addEventListener("load", downloadJSAtOnload, false);
    else if (window.attachEvent)
    window.attachEvent("onload", downloadJSAtOnload);
    else window.onload = downloadJSAtOnload;
    </script>

    <script asynch src="/scripts/material.min.js"></script>
    <link rel="stylesheet" href="/css/merged.min.css">
  </body>

</html>
