---
---
<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="mdl-demo mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      {% include header.html %}

      <main class="mdl-layout__content">
        
        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp" style="margin-top: 18px; margin-bottom: 18px">
	      <div class="mdl-card mdl-cell mdl-cell--12-col">
	        <div class="mdl-card__supporting-text">
	          <h4>{{ page.title }}</h4>
            {% if page.image %}
            <img src="{{site.baseurl}}/assets/images/{{ page.image }}" alt="Gameplay gif" class="top_gif">
            {% endif %}
	          {{ content }}
            {% if page.link_play AND page.link_apple %}
            <div class="store_badges">
            <a href="{{page.link_play}}" target="_blank"><img src="https://play.google.com/intl/en_us/badges/images/generic/en-play-badge.png" alt="Get it on Google Play" class="play_badge"/></a>
            <a href="{{page.link_apple}}" target="_blank"><img src="{{site.baseurl}}/assets/images/apple_badge.svg" alt="Download on the App Store" class="apple_badge"/></a>
            </div>
            {% endif %}
            {% if page.screenshots %}
            <div class="mdl-grid">
              {% for scr in page.screenshots %}
                <div class="mdl-cell mdl-cell--4-col">
                  <a href="{{site.baseurl}}/assets/images/{{scr}}.png" onclick="screenshotOnClick({{forloop.index}});return false;" target="_blank"><img src="{{site.baseurl}}/assets/images/{{scr}}_small.png" alt="Screenshot" width="100%" class="gameScreenshotSmall"/></a>
                </div>
              {% endfor %}
              </div>
            {% endif %}
	        </div>
	      </div>
	    </section> 
        

        {% include footer.html %}
      </main>
      </div>

      <!-- Root element of PhotoSwipe. Must have class pswp. -->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

      <!-- Background of PhotoSwipe. 
           It's a separate element as animating opacity is faster than rgba(). -->
      <div class="pswp__bg"></div>
      <!-- Slides wrapper with overflow:hidden. -->
      <div class="pswp__scroll-wrap">
        <!-- Container that holds slides. 
        PhotoSwipe keeps only 3 of them in the DOM to save memory.
        Don't modify these 3 pswp__item elements, data is added later on. -->
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>

        <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <!--  Controls are self-explanatory. Order can be changed. -->
            <div class="pswp__counter"></div>
            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
            <!-- Preloader demo http://codepen.io/dimsemenov/pen/yyBWoR -->
            <!-- element will get class pswp__preloader--active when preloader is running -->
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div> 
          </div>
          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"> </button>
          <div class="pswp__caption">
            <div class="pswp__caption__center"></div>
          </div>
        </div>
      </div>
    </div>

    {% if page.screenshots AND page.screenshots_size %}
    <script>
      
      // build items array
      var items = [
          {% for scr in page.screenshots %}
          {
              src: '{{site.baseurl}}/assets/images/{{scr}}.png',
              {% assign widx = forloop.index0 | times: 2 %}
              {% assign hidx = forloop.index0 | times: 2 | plus: 1 %}
              w: {{page.screenshots_size[widx]}},
              h: {{page.screenshots_size[hidx]}},
              msrc: '{{site.baseurl}}/assets/images/{{scr}}_small.png'
          },
          {% endfor %}
      ];
      

      var pswpElement = document.querySelectorAll('.pswp')[0];

      function screenshotOnClick(imgId) {
        // define options (if needed)
        var options = {
            // optionName: 'option value'
            // for example:
            index: imgId-1,
            getThumbBoundsFn: function(index) {

                // find thumbnail elements
                var thumbnail = document.getElementsByClassName('gameScreenshotSmall')[index];

                // get window scroll Y
                var pageYScroll = window.pageYOffset || document.documentElement.scrollTop; 
                // optionally get horizontal scroll

                // get position of element relative to viewport
                var rect = thumbnail.getBoundingClientRect(); 

                // w = width
                return {x:rect.left, y:rect.top + pageYScroll, w:rect.width};


                // Good guide on how to get element coordinates:
                // http://javascript.info/tutorial/coordinates
            }
        };

        // Initializes and opens PhotoSwipe
        var gallery = new PhotoSwipe( pswpElement, PhotoSwipeUI_Default, items, options);
        gallery.init();
      }

    </script>
    {% endif %}

  </body>

</html>


